body {
    margin: 0;
    display: flex;
    justify-content: center;
}

button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;

    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.container {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    box-sizing: border-box;
}



.menu-button {
    position: sticky;
    background-color: #CBE5FE;
    font-size: 20px;
    height: 52px;
    width: 180px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-button:active {
    transform: scale(0.97);
}